.blog {
    padding: 2em 0;

    &__container {
        width: 90%;
        margin: 0 auto;
    }
    &__items-container {
        @media screen and (min-width: 480px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__item {
        border-radius: 5px;
        margin-bottom: 2em;
        cursor: pointer;

        @media screen and (min-width: 480px) {
            width: 49%;
        }
        @media screen and (min-width: 640px) {
            width: 48%;
        }
        @media screen and (min-width: 768px) {
            width: 32%;
        }
    }
    &__item-img-container {
        margin: 0;
        padding: 0;
        line-height: 0;
    }
    &__item-img {
        border-radius: 5px 5px 0 0;
    }
    &__item-copy-container {
        background-color: rgba($color1, .3);
        border-radius: 0 0 5px 5px;
        border-bottom: 1px solid $color1;
        border-left: 1px solid $color1;
        border-right: 1px solid $color1; 
        padding: 1em 0;
        text-align: center;
    }
    &__item-category {
        color: rgba($color2, .5);
        font-weight: $medium;
    }
    &__item-title {
        margin: .5em 0 0;
        font-weight: $light;
        color: $color3;
        font-size: 1.1em;
    }
    //Navigation styles
    &__navigation-container {
        padding: 2em 0;
        text-align: center;
    }
    &__navigation-older,
    &__navigation-all {
        text-decoration: none;
        color: rgba($color2, .6);
        display: inline-block;
        line-height: 3;
        padding: 0 2em;
        border: 1px solid $color1;
        border-radius: 5px;
        transition: all 200ms ease-in;
        &:hover {
            background-color: $color1;
        }
    }
    &__navigation-older {
        margin-right: 1em;
    }   
}